<html>

<head>
    <title>{{info.title}}</title>

    {% for item in theme.cssLinks %}
        <link href="{{ item }}" rel="stylesheet" />
    {% endfor %}

    {% for item in theme.jsLinks %}
        <script src="{{ item }}"></script>
    {% endfor %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

 <div id="wrap">


    <header id="header">
        <h1>{{info.title}} <span class="version">v{{info.version}}</span></h1>
        <p>{{info.description | safe}}</p>
    </header>


    <nav id="menu">
        <ul>

            {% for text in text.before %}
                <li><a href="#{{text.id}}">{{text.name}}</a></li>
            {% endfor %}

            {% for group in groups %}
                <li><a href="#group-{{group.name}}">{{group.name}}</a>
                    <ul>
                    {% for endpoint in group.endpoints %}
                        <li><a href="#{{endpoint.id}}">{{endpoint.summary}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}


            {% for text in text.after %}
                <li><a href="#{{text.id}}">{{text.name}}</a></li>
            {% endfor %}


        </ul>
    </nav>


    <section id="content">
        {%if text.before%}
            <section class="group">
                {% for text in text.before %}
                    <section id="{{text.id}}" class="group-item before {{text.class}}">
                            <h1>{{text.name}}</h1>
                            <div>{{text.html | safe}}</div>
                    </section>
                {% endfor %}
            </section>
        {% endif %}



        {% for group in groups %}
            <section class="group" id="group-{{group.name}}">
            <h1>{{group.name}}</h1>
            <p>{{group.description}}</p>

            {% for text in group.text.before %}
                <div class="before {{text.class}}">{{text.html | safe}}</div>
            {% endfor %}

            {% for endpoint in group.endpoints %}

                {% set endpointId = endpoint.id %}

                <section id="{{endpoint.id}}" class="group-item endpoint">
                <h2>{{endpoint.summary}}</h2>
                <p>{{endpoint.description}}</p>


                {% for text in endpoint.text.before %}
                    <div class="before {{text.class}}">{{text.html | safe}}</div>
                {% endfor %}

                <pre><code class="curl">{{endpoint.method}} {{endpoint.path}}</code></pre>



                {%if endpoint.parameters.header%}
                    <h3>Headers parameters</h3>
                    <table class="parameter-table pure-table pure-table-bordered">
                        {% include "includes/plain-tablehead.html" %}
                    <tbody>
                        {% for header in endpoint.parameters.header %}
                            {% includeWith "includes/plain-tablerow.html", with={
                                item:header
                            } %}
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}


                {%if endpoint.parameters.query%}
                    <h3>Querystring parameters</h3>
                    <table class="parameter-table pure-table pure-table-bordered">
                        {% include "includes/plain-tablehead.html" %}
                    <tbody>
                        {% for query in endpoint.parameters.query %}
                            {% includeWith "includes/plain-tablerow.html", with={
                                item:query
                            } %}
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}


                {%if endpoint.parameters.path%}
                    <h3>Path parameters</h3>
                    <table class="parameter-table pure-table pure-table-bordered">
                        {% include "includes/plain-tablehead.html" %}
                    <tbody>
                        {% for path in endpoint.parameters.path %}
                            {% includeWith "includes/plain-tablerow.html", with={
                                item:path
                            } %}
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}


                {%if endpoint.parameters.form%}
                    <h3>Form parameters</h3>
                    <table class="parameter-table pure-table pure-table-bordered">
                        {% include "includes/plain-tablehead.html" %}
                    <tbody>
                        {% for form in endpoint.parameters.path %}
                            {% includeWith "includes/plain-tablerow.html", with={
                                item:form
                            } %}
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}


                {%if endpoint.parameters.body%}
                    <h3>Body parameters</h3>
                    <table class="parameter-table pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Example</th>
                            </tr>
                        </thead>
                    <tbody>
                            <tr>
                                <td>body</td>
                                <td>
                                    {%if endpoint.parameters.body.examples%}
                                        {% for example in endpoint.parameters.body.examples %}
                                            <div>{{example.name}}</div>
                                            <pre><code class="{{example.format}}">{{example.data}}</code></pre>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                    </tbody>
                    </table>
                {% endif %}


                {%if endpoint.responses.success%}
                    {% for success in endpoint.responses.success %}
                        {%if success.examples%}
                            <h3>Response: <code>{{success.statusCode}}</code></h3>
                            <div class="tabs">
                            {% for example in success.examples %}

                                <input id="tab-{{endpointId}}-{{example.name}}-response" type="radio" name="grp-{{endpointId}}-response" {%if loop.index === 1%}checked="checked"{% endif %} />
                                <label for="tab-{{endpointId}}-{{example.name}}-response">{{example.name}}</label>
                                <div>
                                    <pre><code class="{{example.format}}">{{example.data}}</code></pre>
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                {%if endpoint.responses.errors%}
                    <h3>Possible error responses</h3>
                    <table class="parameter-table pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Status code</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for error in endpoint.responses.errors %}
                            <tr>
                                <td><code>{{error.statusCode}}</code></td>
                                <td>{{error.description}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}


                {%if endpoint.code%}
                    <h3>Example code snippet to make API request:</h3>
                    <div class="tabs">
                    {% for code in endpoint.code %}
                        <input id="tab-{{endpointId}}-{{code.name}}-code" type="radio" name="grp-{{endpointId}}-code" {%if loop.index === 1%}checked="checked"{% endif %} />
                        <label for="tab-{{endpointId}}-{{code.name}}-code">{{code.name}}{{loop.index}}</label>
                        <div>
                            <pre><code class="{{code.format}}">{{code.snippet}}</code></pre>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

                {% for text in endpoint.text.after %}
                    <div class="after {{text.class}}">{{text.html | safe}}</div>
                {% endfor %}

                </section>

            {% endfor %}


            {% for text in group.text.after %}
                <div class="after {{text.class}}">{{text.html | safe}}</div>
            {% endfor %}

            </section>


        {% endfor %}




        {%if text.after%}
            <section class="group">
                {% for text in text.after %}
                    <section id="{{text.id}}" class="group-item after {{text.class}}">
                            <h1>{{text.name}}</h1>
                            <div>{{text.html | safe}}</div>
                    </section>
                {% endfor %}
            </section>
        {% endif %}


    </section>


    <footer>
        Theme: {%if theme.url%}<a href="{{theme.url}}">{% endif %}{{theme.name}}{%if theme.url%}</a>{% endif %}
        {%if theme.license%} &dash; License: {{theme.license}}{% endif %}
    </footer>


     </div>

</boby>

</html>

